<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuqin.system.dao.SysOrganMapper" >
  <resultMap id="BaseResultMap" type="com.fuqin.system.model.SysOrgan" >
    <id column="organ_id" property="organId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="organ_full_id" property="organFullId" jdbcType="VARCHAR" />
    <result column="organ_code" property="organCode" jdbcType="VARCHAR" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="organ_full_name" property="organFullName" jdbcType="VARCHAR" />
    <result column="organ_level" property="organLevel" jdbcType="TINYINT" />
    <result column="order_by" property="orderBy" jdbcType="TINYINT" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="office_address" property="officeAddress" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="faxphone" property="faxphone" jdbcType="VARCHAR" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="fore_back_type" property="foreBackType" jdbcType="TINYINT" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_on" property="updateOn" jdbcType="TIMESTAMP" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
    <result column="data_permission_id" property="dataPermissionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    organ_id, parent_id, organ_full_id, organ_code, organ_name, organ_full_name, organ_level, 
    order_by, telphone, email, office_address, postal_code, faxphone, link_man, description, 
    fore_back_type, is_enable, is_deleted, create_by, create_on, create_by_name, update_by, 
    update_on, update_by_name, platform_id, data_permission_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_organ
    where organ_id = #{organId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_organ
    where organ_id = #{organId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fuqin.system.model.SysOrgan" >
    insert into sys_organ (organ_id, parent_id, organ_full_id, 
      organ_code, organ_name, organ_full_name, 
      organ_level, order_by, telphone, 
      email, office_address, postal_code, 
      faxphone, link_man, description, 
      fore_back_type, is_enable, is_deleted, 
      create_by, create_on, create_by_name, 
      update_by, update_on, update_by_name, 
      platform_id, data_permission_id)
    values (#{organId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{organFullId,jdbcType=VARCHAR}, 
      #{organCode,jdbcType=VARCHAR}, #{organName,jdbcType=VARCHAR}, #{organFullName,jdbcType=VARCHAR}, 
      #{organLevel,jdbcType=TINYINT}, #{orderBy,jdbcType=TINYINT}, #{telphone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{officeAddress,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, 
      #{faxphone,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{foreBackType,jdbcType=TINYINT}, #{isEnable,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{createBy,jdbcType=VARCHAR}, #{createOn,jdbcType=TIMESTAMP}, #{createByName,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateOn,jdbcType=TIMESTAMP}, #{updateByName,jdbcType=VARCHAR}, 
      #{platformId,jdbcType=VARCHAR}, #{dataPermissionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fuqin.system.model.SysOrgan" useGeneratedKeys="true" keyProperty="organId">
    insert into sys_organ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="organFullId != null" >
        organ_full_id,
      </if>
      <if test="organCode != null" >
        organ_code,
      </if>
      <if test="organName != null" >
        organ_name,
      </if>
      <if test="organFullName != null" >
        organ_full_name,
      </if>
      <if test="organLevel != null" >
        organ_level,
      </if>
      <if test="orderBy != null" >
        order_by,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="officeAddress != null" >
        office_address,
      </if>
      <if test="postalCode != null" >
        postal_code,
      </if>
      <if test="faxphone != null" >
        faxphone,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="foreBackType != null" >
        fore_back_type,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createOn != null" >
        create_on,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateOn != null" >
        update_on,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="organFullId != null" >
        #{organFullId,jdbcType=VARCHAR},
      </if>
      <if test="organCode != null" >
        #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organFullName != null" >
        #{organFullName,jdbcType=VARCHAR},
      </if>
      <if test="organLevel != null" >
        #{organLevel,jdbcType=TINYINT},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=TINYINT},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="officeAddress != null" >
        #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="faxphone != null" >
        #{faxphone,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="foreBackType != null" >
        #{foreBackType,jdbcType=TINYINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuqin.system.model.SysOrgan" >
    update sys_organ
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="organFullId != null" >
        organ_full_id = #{organFullId,jdbcType=VARCHAR},
      </if>
      <if test="organCode != null" >
        organ_code = #{organCode,jdbcType=VARCHAR},
      </if>
      <if test="organName != null" >
        organ_name = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="organFullName != null" >
        organ_full_name = #{organFullName,jdbcType=VARCHAR},
      </if>
      <if test="organLevel != null" >
        organ_level = #{organLevel,jdbcType=TINYINT},
      </if>
      <if test="orderBy != null" >
        order_by = #{orderBy,jdbcType=TINYINT},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="officeAddress != null" >
        office_address = #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null" >
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="faxphone != null" >
        faxphone = #{faxphone,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="foreBackType != null" >
        fore_back_type = #{foreBackType,jdbcType=TINYINT},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        create_on = #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        update_on = #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id = #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </set>
    where organ_id = #{organId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuqin.system.model.SysOrgan" >
    update sys_organ
    set parent_id = #{parentId,jdbcType=INTEGER},
      organ_full_id = #{organFullId,jdbcType=VARCHAR},
      organ_code = #{organCode,jdbcType=VARCHAR},
      organ_name = #{organName,jdbcType=VARCHAR},
      organ_full_name = #{organFullName,jdbcType=VARCHAR},
      organ_level = #{organLevel,jdbcType=TINYINT},
      order_by = #{orderBy,jdbcType=TINYINT},
      telphone = #{telphone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      office_address = #{officeAddress,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      faxphone = #{faxphone,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      fore_back_type = #{foreBackType,jdbcType=TINYINT},
      is_enable = #{isEnable,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_on = #{createOn,jdbcType=TIMESTAMP},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_on = #{updateOn,jdbcType=TIMESTAMP},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      data_permission_id = #{dataPermissionId,jdbcType=VARCHAR}
    where organ_id = #{organId,jdbcType=INTEGER}
  </update>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!--加载左侧菜单的组织机构树-->
  <select id="getOrganByAll" resultMap="BaseResultMap">
    select organ_id,organ_code,organ_name,parent_id
    from sys_organ
    where fore_back_type=#{foreBackType,jdbcType=INTEGER}
    and is_deleted = 0
    and is_enable = 1
  </select>

  <!--组织机构分页-->
  <select id="selectSysOrganByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    sys_organ
    <where>
      is_deleted = 0
      AND
      is_enable = 1
      AND
      fore_back_type = #{organ.foreBackType,jdbcType=TINYINT}
      <if test="organ.parentId != null" >
        AND parent_id = #{organ.parentId,jdbcType=INTEGER}
      </if>
      <if test="organ.organName != null and '' != organ.organName ">
        AND organ_name LIKE
        CONCAT('%',#{organ.organName,jdbcType=VARCHAR},'%')
      </if>
    </where>
    ORDER BY ${args.sortOrderName}
    limit #{args.pageIndex,jdbcType=INTEGER}
    ,#{args.pageSize,jdbcType=INTEGER};
  </select>

  <select id="selectSysOrganByPageCount" resultType="java.lang.Integer">
    SELECT
    COUNT(organ_id)
    FROM
    sys_organ
    <where>
      is_deleted = 0
      AND
      is_enable = 1
      AND
      fore_back_type = #{organ.foreBackType,jdbcType=TINYINT}
      <if test="organ.parentId != null" >
        AND parent_id = #{organ.parentId,jdbcType=INTEGER}
      </if>
      <if test="organ.organName != null and '' != organ.organName ">
        AND organ_name LIKE
        CONCAT('%',#{organ.organName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>