<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.open.system.dao.SysDeleteConstraintMapper" >
  <resultMap id="BaseResultMap" type="org.open.system.model.SysDeleteConstraint" >
    <id column="del_id" property="delId" jdbcType="INTEGER" />
    <result column="table_from" property="tableFrom" jdbcType="VARCHAR" />
    <result column="table_to" property="tableTo" jdbcType="VARCHAR" />
    <result column="table_to_pkId" property="tableToPkid" jdbcType="VARCHAR" />
    <result column="constraint_field" property="constraintField" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_on" property="updateOn" jdbcType="TIMESTAMP" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
    <result column="data_permission_id" property="dataPermissionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    del_id, table_from, table_to, table_to_pkId, constraint_field, is_enable, is_deleted, 
    create_by, create_on, create_by_name, update_by, update_on, update_by_name, platform_id, 
    data_permission_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_delete_constraint
    where del_id = #{delId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_delete_constraint
    where del_id = #{delId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.open.system.model.SysDeleteConstraint" >
    insert into sys_delete_constraint (del_id, table_from, table_to, 
      table_to_pkId, constraint_field, is_enable, 
      is_deleted, create_by, create_on, 
      create_by_name, update_by, update_on, 
      update_by_name, platform_id, data_permission_id
      )
    values (#{delId,jdbcType=INTEGER}, #{tableFrom,jdbcType=VARCHAR}, #{tableTo,jdbcType=VARCHAR}, 
      #{tableToPkid,jdbcType=VARCHAR}, #{constraintField,jdbcType=VARCHAR}, #{isEnable,jdbcType=TINYINT}, 
      #{isDeleted,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, #{createOn,jdbcType=TIMESTAMP}, 
      #{createByName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateOn,jdbcType=TIMESTAMP}, 
      #{updateByName,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, #{dataPermissionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.open.system.model.SysDeleteConstraint"  useGeneratedKeys="true" keyProperty="delId">
    insert into sys_delete_constraint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tableFrom != null" >
        table_from,
      </if>
      <if test="tableTo != null" >
        table_to,
      </if>
      <if test="tableToPkid != null" >
        table_to_pkId,
      </if>
      <if test="constraintField != null" >
        constraint_field,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createOn != null" >
        create_on,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateOn != null" >
        update_on,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tableFrom != null" >
        #{tableFrom,jdbcType=VARCHAR},
      </if>
      <if test="tableTo != null" >
        #{tableTo,jdbcType=VARCHAR},
      </if>
      <if test="tableToPkid != null" >
        #{tableToPkid,jdbcType=VARCHAR},
      </if>
      <if test="constraintField != null" >
        #{constraintField,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.open.system.model.SysDeleteConstraint" >
    update sys_delete_constraint
    <set >
      <if test="tableFrom != null" >
        table_from = #{tableFrom,jdbcType=VARCHAR},
      </if>
      <if test="tableTo != null" >
        table_to = #{tableTo,jdbcType=VARCHAR},
      </if>
      <if test="tableToPkid != null" >
        table_to_pkId = #{tableToPkid,jdbcType=VARCHAR},
      </if>
      <if test="constraintField != null" >
        constraint_field = #{constraintField,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        create_on = #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        update_on = #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id = #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </set>
    where del_id = #{delId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.open.system.model.SysDeleteConstraint" >
    update sys_delete_constraint
    set table_from = #{tableFrom,jdbcType=VARCHAR},
      table_to = #{tableTo,jdbcType=VARCHAR},
      table_to_pkId = #{tableToPkid,jdbcType=VARCHAR},
      constraint_field = #{constraintField,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_on = #{createOn,jdbcType=TIMESTAMP},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_on = #{updateOn,jdbcType=TIMESTAMP},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      data_permission_id = #{dataPermissionId,jdbcType=VARCHAR}
    where del_id = #{delId,jdbcType=INTEGER}
  </update>

  <select id="getDeletedConstraintList" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT del_id,table_to,table_to_pkId,constraint_field FROM sys_delete_constraint WHERE is_enable = 1 AND is_deleted = 0 AND table_from = #{tableFrom,jdbcType=VARCHAR}
  </select>
  <select id="checkDeletedConstraint" resultType="java.lang.Object">
    SELECT ${tableToPkId} FROM ${tableTo} WHERE is_enable = 1 AND is_deleted = 0  AND ${field}  = #{itemId,jdbcType=VARCHAR} limit 1;
  </select>

</mapper>