<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.open.system.dao.SysOperategroupMapper" >
  <resultMap id="BaseResultMap" type="org.open.system.model.SysOperategroup" >
    <id column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_description" property="groupDescription" jdbcType="VARCHAR" />
    <result column="group_permission_md5" property="groupPermissionMd5" jdbcType="VARCHAR" />
    <result column="fore_back_type" property="foreBackType" jdbcType="TINYINT" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_on" property="createOn" jdbcType="TIMESTAMP" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_on" property="updateOn" jdbcType="TIMESTAMP" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="platform_id" property="platformId" jdbcType="VARCHAR" />
    <result column="data_permission_id" property="dataPermissionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    group_id, group_name, group_description, group_permission_md5, fore_back_type, is_enable,
    is_deleted, create_by, create_on, create_by_name, update_by, update_on, update_by_name,
    platform_id, data_permission_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_operategroup
    where group_id = #{groupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_operategroup
    where group_id = #{groupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.open.system.model.SysOperategroup" >
    insert into sys_operategroup (group_id, group_name, group_description,
    group_permission_md5, fore_back_type, is_enable,
    is_deleted, create_by, create_on,
    create_by_name, update_by, update_on,
    update_by_name, platform_id, data_permission_id
    )
    values (#{groupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{groupDescription,jdbcType=VARCHAR},
    #{groupPermissionMd5,jdbcType=VARCHAR}, #{foreBackType,jdbcType=TINYINT}, #{isEnable,jdbcType=TINYINT},
    #{isDeleted,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, #{createOn,jdbcType=TIMESTAMP},
    #{createByName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateOn,jdbcType=TIMESTAMP},
    #{updateByName,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, #{dataPermissionId,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="org.open.system.model.SysOperategroup" >
    insert into sys_operategroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupDescription != null" >
        group_description,
      </if>
      <if test="groupPermissionMd5 != null" >
        group_permission_md5,
      </if>
      <if test="foreBackType != null" >
        fore_back_type,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createOn != null" >
        create_on,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateOn != null" >
        update_on,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDescription != null" >
        #{groupDescription,jdbcType=VARCHAR},
      </if>
      <if test="groupPermissionMd5 != null" >
        #{groupPermissionMd5,jdbcType=VARCHAR},
      </if>
      <if test="foreBackType != null" >
        #{foreBackType,jdbcType=TINYINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.open.system.model.SysOperategroup" >
    update sys_operategroup
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDescription != null" >
        group_description = #{groupDescription,jdbcType=VARCHAR},
      </if>
      <if test="groupPermissionMd5 != null" >
        group_permission_md5 = #{groupPermissionMd5,jdbcType=VARCHAR},
      </if>
      <if test="foreBackType != null" >
        fore_back_type = #{foreBackType,jdbcType=TINYINT},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createOn != null" >
        create_on = #{createOn,jdbcType=TIMESTAMP},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateOn != null" >
        update_on = #{updateOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="dataPermissionId != null" >
        data_permission_id = #{dataPermissionId,jdbcType=VARCHAR},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.open.system.model.SysOperategroup" >
    update sys_operategroup
    set group_name = #{groupName,jdbcType=VARCHAR},
      group_description = #{groupDescription,jdbcType=VARCHAR},
      group_permission_md5 = #{groupPermissionMd5,jdbcType=VARCHAR},
      fore_back_type = #{foreBackType,jdbcType=TINYINT},
      is_enable = #{isEnable,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_on = #{createOn,jdbcType=TIMESTAMP},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_on = #{updateOn,jdbcType=TIMESTAMP},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      data_permission_id = #{dataPermissionId,jdbcType=VARCHAR}
    where group_id = #{groupId,jdbcType=VARCHAR}
  </update>

  <!--~~~~~~~~~~~~~~~~~~~~~~~-->

  <!--分页-->
  <select id="selectSysOperategroupByPage" resultMap="BaseResultMap">
    SELECT
    group_id, group_name, group_description, create_on,is_enable
    FROM
    sys_operategroup
    <where>
      is_deleted = 0
      AND
      is_enable = 1
      AND
      fore_back_type = #{operategroup.foreBackType,jdbcType=TINYINT}
      <if test="operategroup.groupName != null and '' != operategroup.groupName ">
        AND group_name LIKE
        CONCAT('%',#{operategroup.groupName,jdbcType=VARCHAR},'%')
      </if>
    </where>
    ORDER BY ${args.sortOrderName}
    limit #{args.pageIndex,jdbcType=INTEGER}
    ,#{args.pageSize,jdbcType=INTEGER};
  </select>

  <select id="selectSysOperategroupByPageCount" resultType="java.lang.Integer">
    SELECT
    COUNT(group_id)
    FROM
    sys_operategroup
    <where>
      is_deleted = 0
      AND
      is_enable = 1
      AND
      fore_back_type = #{operategroup.foreBackType,jdbcType=TINYINT}
      <if test="operategroup.groupName != null and '' != operategroup.groupName ">
        AND group_name LIKE
        CONCAT('%',#{operategroup.groupName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <!--角色选项卡加载操作组数据-->
  <select id="selectSysOperategroupToRole" resultMap="BaseResultMap">
    select
    group_id, group_name, create_on
    from sys_operategroup
    where is_deleted=0 and is_enable=1
    and fore_back_type = #{foreBackType,jdbcType=INTEGER}
    and group_id = #{groupId,jdbcType=VARCHAR}
  </select>
</mapper>